@import url("https//fonts.googlepis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-image: url(pics/bg.jpg);
}

#heading {
    text-align: center;
    margin: 20px 0;
    color: #ef3636;
    font-family: 'Skranji', cursive;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
}

.card {
    margin: 4em;
}

.btn:hover {
    background-color: black;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid #088178;
    border-radius: 6px;
    width: 150px;
    margin: 5px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: #088178;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

/* Start Media Query */

/* For Tablets */
@media only screen and (min-width: 481px) and (max-width: 820px) {

    .cards-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    footer {
        display: flex;
        flex-direction: column;
    }

    #copyright-end {
        font-size: 12px;
        margin-bottom: 20px;
        font-weight: 0;
        color: #465b46;
        text-align: center;
    }

    #heading {
        margin: 40px 0 0 0;
    }
}


/* Small Screen */
@media only screen and (min-width: 320px) and (max-width: 480px) {

    footer {
        display: flex;
        flex-direction: column;

    }

    .cards-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #copyright-end {
        font-size: 12px;
        margin-bottom: 20px;
        font-weight: 0;
        color: #465b46;
        text-align: center;
    }

    #heading {
        margin: 40px 0 0 0;
    }
}